/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"); */

:root {
    --main-purple: #9b59b6;
    --main-grey: #ccc;
    --sub-grey: #d9d9d9;
}

/* The main div */
.frm {
    position: absolute;
    top: 10.5vh;
    left: 23vw;
    padding: 3vw;
    box-shadow: 1px 1px 15px 2px var(--main-grey);
}

.issuedBooks table {
    width: 65vw;
}

.issuedBooks form .outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 2px 10;
    color: var(--color-dark);
}

.issuedBooks form .outer #showBooks {
    width: calc(100% / 3 - 20px);
    margin-bottom: 15px;
}

.issuedBooks #showBooks .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.issuedBooks #showBooks input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


.issuedBooks #showBooks input:focus,
.issuedBooks #showBooks input:valid {
    border-color: var(--color-primary);
}

form .outer .button {
    height: 45px;
    position: absolute;
    left: 68%;
    top: -3.5vh;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: gray;
    transition: all 0.3s ease;
}

form .outer .button {
    width: calc(100% / 3 - 20px);
}


table,
tr {
    border-collapse: collapse;
    text-align: center;
    background-color: var(--color-white);
    height: 4.5vh;
}

table td {
    width: 2vw;
}

table #thh {
    width: 2vw;
    height: 6vh;
}

table tr {
    color: var(--color-dark-varient);
    font-size: 1.9vh;
}


/* The alert div */
.alert {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Main heading */
h1 {
    color: var(--color-dark);
    position: relative;
    margin-top: 3.5%;
    margin-left: 63%;
}

/* Form */
.frm form {
    position: relative;
    width: 65vw;
    /* top: 3vh; */
}

form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    color: var(--color-dark);
}

form #uniq {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 2px 0;
    color: var(--color-dark);
    width: 65vw;
    /* border: 2px solid black; */
}

form .user__details .input__box {
    width: calc(100% / 4 - 20px);
    margin-bottom: 15px;
}

form #uniq .input__box {
    width: calc(100% / 5 - 20px);
    /* margin-bottom: 15px; */
}

.user__details .input__box .details,
#uniq .input__box .details {
    color: var(--color-dark);
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user__details .input__box input,
#uniq .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


.user__details .input__box input:focus,
.user__details .input__box input:valid {
    border-color: var(--color-primary);
}

/* add button div */
#hd {
    display: flex;
    justify-content: space-between;
}

#hd span {
    cursor: pointer;
}

/* submit button */
form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .frm {
        left: 12vw;
        /* top: 16vh; */
    }

    .frm form {
        width: 77vw;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .frm {
        left: 4vw;
    }

    .frm form {
        width: 85vw;
        height: 60vh;
    }
}


@media only screen and (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user__details .input__box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category1 .category {
        width: 100%;
    }

    .container form .user__details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user__details::-webkit-scrollbar {
        width: 0;
    }
}